<div class="mt-4">
    <h3>Sửa thông tin</h3>
  <form action="/auth/admin/infor/{{acc._id}}?_method=PUT" method="post">
    <div class="form-group">
        <label for="firstname">Fisrtname</label>
        <input type="text" class="form-control" name="firstname"  value="{{acc.firstname}}">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input class="form-control"  name="lastname" value="{{acc.lastname}}">
    </div>
    <div class="form-group">
        <label for="slug">Email</label>
        <input type="text" class="form-control" name="email" value="{{acc.email}}">
    </div>
    <div class="form-group">
        <label for="slug">Class</label>
        <input type="text" class="form-control" name="email" value="{{acc.class}}">
    </div>
    <div class="form-group">
        <label for="slug">Course</label>
        <input type="text" class="form-control" name="email" value="{{acc.course}}">
    </div>
    <div class="form-group">
        <label for="videoID">Address</label>
        <input type="text" class="form-control" name="address" value="{{acc.address}}">
    </div>
    <div class="form-group">
        <label for="videoID">Specialized</label>
        <input type="text" class="form-control" name="address" value="{{acc.specialized}}">
    </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
</div>