<div class="mt-4">
    <h3>Sửa khóa học</h3>
    <form action="/courses/{{course._id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name"  value="{{course.name}}" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" placeholder="description">{{course.description}}</textarea>
  </div>
    <div class="form-group">
        <label for="slug">slug</label>
        <input type="text" class="form-control" id="slug" name="slug" value="{{course.slug}}" placeholder="slug">
    </div>
    <div class="form-group">
        <label for="videoID">videoID</label>
        <input type="text" class="form-control" id="videoID" name="videoID" value="{{course.videoID}}" placeholder="VideoId">
    </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>